.firstHomeSection, .furtherSections {
    display: flex;
    max-width: 900px;
    margin: auto;
    align-items: center;
    gap: 100px;

    justify-content: center !important;
    flex-wrap: wrap;
}

.firstDivText {
    max-width: 500px;
}

.spacingAa {
    margin: 10px !important;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 25px;
}

.supportLink {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}


/*.furtherSections {
    text-align: center;
    max-width: 800px;
    margin: auto;
}*/

.marketingImageHome {
    width: 300px;
}

.hookText {
    font-size: 50px;
    color: var(--text-sharp);
    font-weight: bold;
    margin: 0;
}

.homeHook {
    font-size: 50px;
    color: var(--text-sharp);
    font-weight: 400;
    margin: 0;
}

.reelinText {
    font-weight: 400;
    font-size: 25px;
    color: var(--text-light);

    margin: 0;
}

/* Next sections after home */

.secondaryHookText {
    font-size: 40px;
    color: var(--text-sharp);
    font-weight: 700;
    margin: 0;
}

.secondaryReelinText {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-light);
    margin: 0;
}

/* the blue sections that are small */

.miniHomeSection {
    display: flex;
    background-color: var(--background-widget-gray);
    height: auto;
    min-height: 280px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.miniSectionText {
    font-size: 50px;
    color: var(--text-sharp);
    font-weight: 700;
}

.textCunt {
    max-width: 600px !important;
}

.miniSectionMiniText {
    font-size: 20px;
    color: var(--text-light);
    font-weight: 400;
}



/* Pricing */
.pricingHome {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.pricingCards {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.pricingCardSingle {
    border-radius: .575rem;
    width: 370px;
    height: 560px;
    background-color: var(--white);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.pricingCardTier {
    font-size: 35px;
    font-weight: 700;
    color: var(--text-sharp);
    margin-bottom: 5px;
}

.pricingCardDesc {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-light);
}

.pricingList {
    line-height: 30px;
}

.pricingListLI {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-light);
}


.checkIcon {
    color: var(--accent-color-success);
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.xIcon {
    color: var(--accent-color-danger);
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}


.tinyPrint {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-lighter);
    padding-left: 30px;
    padding-right: 30px;
}

.striketh {
    text-decoration: line-through;
}

.blueButton {
    margin: 0;
    background-color: var(--navy);
    color: var(--text-white);
    box-shadow: 0 10px 20px -10px var(--shadow-navy);
    
    border-radius: .375rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: .825rem 1.8rem;
    /* I need to figure this out */
    font-size: 1.1rem;
}

.buttIcon {
    top: 3px;
    position: relative;
}

.blueButton:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
}

/* MISC */

.footerContainer {
    position: absolute;
    bottom: 0;
}

.footerContainer {
    color: var(--white);
    height: fit-content;
    width: 100%;
    background-color: var(--background-navy-blue);
}

.footer {
    color: var(--white);
    height: fit-content;
    width: 100%;
    background-color: var(--background-navy-blue);
    bottom: 0;

    /*display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;*/

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.footerInCenter {
    font-weight: normal;
    font-size: 1rem;
    color: var(--text-color-description-onblue);
    text-align: center;
    grid-column: 1/3;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: nowrap
}

.footerHref,
.descriptionWhite {
    font-weight: normal;
    font-size: 1rem;
    color: var(--text-color-description-onblue);
    margin-bottom: 15px;

}

.footerHref:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
}

.footerSide, .footerSideLeft, .footerSideSecret {
    width: 300px;
    margin: 20px;
}

.footerSideLeft {
    text-align: right;
}

.footerSideSecret {
    display: none;
}



@media screen and (max-width: 680px) {
    .firstHomeSection {
        display: flex;
        max-width: 900px;
        margin: auto;
        align-items: center;
        gap: 100px;
        padding: 10px;
        justify-content: center !important;
        flex-wrap: wrap;
    }

    .furtherSections {
        padding: 10px;
    }

    .buttonContainer {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        line-height: 25px;
    }

    .hookText, .homeHook {
        font-size: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .reelinText, .secondaryReelinText {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .buttonContainer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .buttonTextInside2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .miniSectionText {
        padding: 10px;
        font-size: 40px;
    }

    .miniSectionMiniText {
        padding: 10px;
        font-size: 20px;
    }


    .footer {
        height: fit-content;
    }

    .footerSideLeft {
        display: none !important;
    }

    .footerSideSecret {
        display: block !important;
    }

}


.paypalDiv {
    padding-left: 20px;
    padding-right: 20px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fuckPayPal {
    z-index: 1 !important;
}

/* old color border 
    
    border-image-source: linear-gradient(-90deg, #6a581c, #aa8c2c);
    border-style: solid;
    border-width: 3px;
    border-image-slice: 1;

*/

/* LOGIN */
.loginSection {
    text-align: center;
    max-width: 600px;
    margin: auto;
    height: 100%;
    align-items: center;
}

.anchor {
    color: var(--accent-color-link);
    font-weight: bold;
}

.anchor:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
}
